<form action = "/course/add" method = "post">
<p>
    <label>Course Name</label><input value="" name= "courseName"/><br/>
    <label>Course Description</label><input value="" name= "courseDescription"/><br/>
    <label>Course Fees</label><input value="" name= "courseFee"/><br/>
    <button type="submit">Add Course</button>
</p>
</form>